/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
/* 插件打开的 modal 窗口中的 view-header 隐藏 */

.plugin-modal-hidden-view-header {
    display: none;
}

.markdown-preview-view.markdown-rendered.node-insert-event.is-readable-line-width.allow-fold-headings.show-indentation-guide.allow-fold-lists.show-properties {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    /* For WebKit-based browsers */
    overflow: hidden;
}

.markdown-preview-sizer {
    padding-bottom: 0 !important;
    min-height: auto; /* 或者设置为你认为合适的值 */
}